*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.example-block{
  box-shadow: 5px 5px 10px 5px indigo;
  margin: 20px;
  font-size: 2em;
  border-radius: 15px;
  padding: 1em;
  visibility: hidden;
  /* opacity: 0.1; */
  /* outline: rgb(128, 5, 216) solid 3px; */
  /* overflow: hidden;
  font-size: 50px;
  margin: 0 0 30px 0;
  border: 2px solid green;
  border-radius: 50%;
  width: 300px;
  height: 300px; */
}

.example-string{
  border: 1px solid #000;
  display: inline-block;
  /* display: none; */
  padding: 20px;
  width: 500px;
}

.example-image{
  border: 1px solid #000;
  /* height: 200px;
  max-width: 900px;
  min-width: 700px;
  width: 100%; */
  max-width: 400px;
}